<div class="container">
    <app-nav-bar></app-nav-bar>
    <div class="content">
        <div class="content-container">
            <router-outlet></router-outlet>
            <!--<app-auctions-list (createAuctionEvent)="createAuction()"
                               (deleteAuctionEvent)="deleteAuction($event)"
                               (editAuctionEvent)="editAuction($event)"
                               (participationEvent)="participateInAuction($event)"
                               (reloadEvent)="reload()"
                               [model]="data"
            ></app-auctions-list>-->
        </div>
    </div>
</div>
