<div class="container">
    <app-nav-bar></app-nav-bar>
    <div class="content">
        <div class="content-container">
            <mat-card>
                <div class="card-header">
                    <span *ngIf="!isEdit">فرم ایجاد مزایده جدید</span>
                    <span *ngIf="isEdit">فرم ویرایش مزایده</span>
                </div>
                <div>
                    <form #upsertForm="ngForm">
                        <mat-form-field appearance="standard" class="form-field">
                            <mat-label>توضیحات</mat-label>
                            <textarea #shortDescription="ngModel" [(ngModel)]="description"
                                      name="shortDescription"
                                      matInput required type="text">
                            </textarea>
                            <mat-error>وارد نمودن توضیحات الزامی می باشد.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>قیمت پایه (تومان)</mat-label>
                            <input type="text" matInput name="basePrice"
                                   [(ngModel)]="model.basePrice" required>
                            <mat-error>وارد نمودن قیمت پایه الزامی می باشد.</mat-error>
                        </mat-form-field>
                        <!--<mat-form-field class="form-field" appearance="outline">
                            <mat-label>واحد افزایش</mat-label>
                            <input type="number" matInput name="increaseUnit"
                                   [ngModel]="model.increaseUnit" required>
                            <mat-error>وارد نمودن واحد افزایش الزامی می باشد.</mat-error>
                        </mat-form-field>-->
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>{{'تاریخ انقضاء'}}</mat-label>
                            <input matInput [matDatepicker]="expireDate" name="startDate"
                                   [(ngModel)]="selectedDate" required>
                            <mat-datepicker-toggle [for]="expireDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #expireDate></mat-datepicker>
                            <mat-error>وارد نمودن تاریخ انقضاء الزامی می باشد.</mat-error>
                        </mat-form-field>

                        <div class="mt-3 fx-row fxA-end-center gap-20">
                            <button class="button-secondary red" (click)="returnToList()" mat-ripple>
                                <span class="mdi mdi-keyboard-return icon"></span>
                                <span>بازگشت به لیست مزایده ها</span>
                            </button>
                            <button *ngIf="!isEdit" class="button-secondary green" (click)="submit()"
                                    [disabled]="upsertForm.invalid"
                                    [ngClass]="upsertForm.invalid && 'disabled'"
                                    mat-ripple>
                                <span class="mdi mdi-plus-thick icon"></span>
                                <span>ثبت مزایده</span>
                            </button>
                            <button *ngIf="isEdit" class="button-secondary blue" (click)="submit()"
                                    [disabled]="upsertForm.invalid"
                                    [ngClass]="upsertForm.invalid && 'disabled'"
                                    mat-ripple>
                                <span class="mdi mdi-plus-thick icon"></span>
                                <span>ویرایش مزایده</span>
                            </button>
                        </div>
                    </form>
                </div>
            </mat-card>
        </div>
    </div>
</div>
