$color-green-tint: #00c853;
$color-green-medium: #00953e;
$color-green-shade: #006229;
$color-green-dark: #002f14;
$color-red-tint: #ff6165; //ee4c83
$color-red-medium: #f5373d; //E91E63
$color-red-shade: #c62025; //c1134e
$color-blue-lighten: #7ea9ff;
$color-blue-tint: #2e67a4;
$color-blue-medium: #153F6C;
$color-blue-shade: #082d54;
$color-orange-tint: #fd8137;
$color-orange-medium: #FC6500;
$color-orange-shade: #ba4d01;
$color-purple-tint: #4f48e0;
$color-purple-medium: #352fb8;
$color-purple-shade: #1f1a91;
$color-sienna-tint: #9b0c3b;
$color-sienna-medium: #6b0829;
$color-sienna-shade: #3c0517;

