@import '~@angular/material/theming';
@import 'colors';


$custom-typography: mat-typography-config(
        $font-family: IRANSans,
        $headline: mat-typography-level(32px, 48px, 700),
        $body-1: mat-typography-level(16px, 24px, 400)
);

@include mat-core($custom-typography);

@mixin global-theme($theme) {
      $primary: map-get($theme, primary);
      $accent: map-get($theme, accent);
      $warn: map-get($theme, warn);
      $foreground: map-get($theme, foreground);
      $background: map-get($theme, background);
      .root {
            background-color: mat-color($background, background);
            color: mat-color($foreground, text);
      }
}



$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent: mat-palette($mat-yellow, A200, A100, A400);
$light-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

$dark-primary: mat-palette($mat-yellow);
$dark-accent: mat-palette($mat-yellow, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);



.light-theme {
      //@include mat-core();
      @include angular-material-theme($light-theme);
      @include global-theme($light-theme);
}

.dark-theme {
      @include angular-material-theme($dark-theme);
      @include global-theme($dark-theme);
      @include mat-base-typography($custom-typography);
      background-color: #222;
}
